LOG_LEVEL=INFO
SECRET_KEY=...
BASE_URL=https://spawnradar.com
SCHEDULER_ENABLED=1
USE_CATALOG=true
ADMIN_SECRET_KEY=

RESEND_API_KEY=re_...

PADDLE_ENVIRONMENT=production
PADDLE_CLIENT_SIDE_TOKEN=live_...
PADDLE_API_KEY=pdl_sdbx_apikey_...
PADDLE_WEBHOOK_SECRET=ntfset_...
PADDLE_INDIE_PRICE_ID=pri_...

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Twitch client ID has to be the same as the one in the agreement with IGDB
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

YOUTUBE_API_KEY=
ANTHROPIC_API_KEY=
